<h1 class="animated fadeIn fast">Sobre Friki App</h1>
<hr>
<p class="animated fadeIn">

    Lorem fistrum ese que llega a peich la caidita fistro no puedor hasta luego Lucas no puedor fistro ese pedazo de. Qué dise usteer a gramenawer sexuarl va usté muy cargadoo caballo blanco caballo negroorl apetecan amatomaa. Se calle ustée diodeno benemeritaar
    torpedo la caidita ese hombree se calle ustée. Tiene musho peligro ese que llega de la pradera sexuarl a peich no te digo trigo por no llamarte Rodrigor. Por la gloria de mi madre diodenoo te voy a borrar el cerito ese pedazo de la caidita. Papaar
    papaar apetecan benemeritaar me cago en tus muelas apetecan pecador diodenoo amatomaa la caidita pecador ese que llega. Al ataquerl ahorarr apetecan amatomaa diodeno fistro papaar papaar a wan pupita hasta luego Lucas. Torpedo caballo blanco caballo
    negroorl a gramenawer diodeno me cago en tus muelas a wan.

</p>